﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home","Index","Home")</li>
        <li>@Html.ActionLink("About","About","Home")</li>
        <li>@Html.ActionLink("Add Course", "Create", "Courses")</li>
    </ul>
    @Html.Partial("_LoginPartial")
</div>